.ItemsTable
{
    display: grid;
}
.ShopName
{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    background: #00d61a69;
    margin: 5px;
    padding: 20px;
    font-size: -webkit-xxx-large;
}
.ItemImage
{
    box-shadow: 3px 3px 16px -5px;
    border-color: white;
    border-radius: 50%;
    height: 100%;
    animation-direction: alternate;
    align-content: baseline;
    border: 5px solid white;
    box-sizing: border-box;
}
.ImageDiv
{
    height: 150px;
    float: right;
    margin-right: 20px;
}
.ItemTd
{
    padding: 5px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    background: #cabcbc69;
    margin: 5px;
}
.Description
{
    float: left;
    clear: right;
    align-self: center;
    padding: 40px;
    list-style-type: none;
    font-family: fantasy;
}